.login-register{
    display: flex;
    flex-direction: row;
}
.navbar{
    background-color: rgb(47 108 234) !important ;
    width: 100%;
    position: fixed;
    color: #fff;
}

.me-auto ul{
    float: right !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#navbarSupportedContent{
    margin-left: 700px;
}
.nav-item{
    padding: 0px 20px;
}
.nav-item .nav-link{
    color: #fff !important;
}
.dropdown-menu a{
    color: rgb(0 0 0 / 72%);
}
.navbar-brand{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 30px;
    font-weight: bold;
    color: #fff !important;
}
/* Logout css */



@media (max-width:767px){
    #navbarSupportedContent{
        margin-left: 0px;
    }
    .login-register{
        display: flex;
        flex-direction: column;
    }
    
}